@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-siliguri bg-emerald-50 text-emerald-950;
  }
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
  }

  .glass {
    @apply bg-white/70 backdrop-blur-md border border-white/20 shadow-lg;
  }

  .glass-card {
    @apply bg-white shadow-xl rounded-2xl border border-emerald-100 p-4 transition-all duration-300 hover:shadow-2xl hover:border-emerald-200;
  }
}
